.cart {
    height: 10000000000px;
    background-color: black;
    &__title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
    }
    &__items {}
    &__block {}
    &__details {}
    &__total-text {}
    &__total-price {}
    &__update {}
    &__checkout {}
}