.featured-products {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    &__image {
        height: 90%;
        margin: auto auto auto auto;
        width: 85%;
    }
    &__wrapper {}
    &__title {}
    &__description {}
    &__price {}
    &__cart {}
    &__image.first {
        margin-left: 50px;
        background-color: white;
    }
    &__wrapper.first {}
    &__title.first {}
    &__description.first {}
    &__price.first {}
    &__cart.first {}
    &__wrapper.second {}
    &__title.second {}
    &__description.second {}
    &__price.second {}
    &__cart.second {}
    &__image.second {
        background-color: black;
    }
    &__image.second {
        margin-right: 50px;
    }
}