.featured-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    &__image {
        height: 600px;
        margin: auto auto auto auto;
        width: 600px;
    }
    &__wrapper {}
    &__title {}
    &__description {}
    &__price {}
    &__cart {}
    &__image.first {
        // align-self: start;
        margin-left: 50px;
        background-color: white;
    }
    &__wrapper.first {}
    &__title.first {}
    &__description.first {}
    &__price.first {}
    &__cart.first {}
    &__wrapper.second {}
    &__title.second {}
    &__description.second {}
    &__price.second {}
    &__cart.second {}
    &__image.second {
        // align-self: end;
        margin-right: 50px;
        background-color: blackd;
    }
}