.featured-products {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    @media only screen and (max-width: 768px) {}
    &__heading {
        margin-bottom: 25px;
    }
    &__items {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .product-title {
            margin-left: 15px;
            margin-right: 15px;
            width: 23%;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}