.featured-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 80%;
    &__image {
        height: 100%;
        width: 100%;
        padding: 50px 50px 50px 50px;
        object-fit: cover;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px 50px 50px 50px;
    }
    &__title {
        font-size: 2.3rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
    }
    &__description {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 15px;
    }
    &__price {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        font-size: 1.4rem;
    }
    &__cart {
        height: 60px;
        width: 120px;
        padding-top: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    &__image.first {
        padding-left: 50px;
        background-color: white;
    }
    &__wrapper.first {
        background-color: white;
    }
    &__title.first {}
    &__description.first {}
    &__price.first {}
    &__cart.first {
        color: black;
        background-color: white;
        &:hover {
            color: white;
            background-color: black;
            transition: 0.2s;
        }
    }
    &__wrapper.second {
        background-color: black;
        color: white;
    }
    &__title.second {}
    &__description.second {}
    &__price.second {}
    &__cart.second {
        color: white;
        background-color: black;
        &:hover {
            color: black;
            background-color: white;
            transition: 0.2s;
        }
    }
    &__image.second {
        padding-right: 50px;
        background-color: black;
    }
}