@import url(//db.onlinewebfonts.com/c/f7d1b2995a6dff7abcda304d226aa67d?family=HelveticaW01-Bold);
footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 352px;
    .head {
        text-align: center;
        font-size: 22px;
        color: white;
        font-weight: 400;
        font-family: HelveticaW01-Bold, sans-serif;
    }
    .social {
        display: flex;
        width: 70px;
        align-items: center;
        justify-content: space-evenly;
    }
    .copyright {
        color: #969696;
        font-family: "open sans", sans-serif;
        font-size: 13px;
        a {
            color: #d6b6b6;
            font-family: "open sans", sans-serif;
            font-size: 13px
        }
    }
}