footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .head {
        text-align: center;
        font-size: 40px;
        color: white;
    }
}