@import url(//db.onlinewebfonts.com/c/6fcade7abbedc0b15b45d46f0b8eca84?family=CoquetteW00-Light);
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .main-title {
        font-family: CoquetteW00-Light, sans-serif;
        font-size: 90px;
        font-weight: 700;
        color: black;
    }
}