section {
    position: relative;
    .background {
        height: 100vh;
        width: 100vw;
        background: url("{{ settings.background | img_url: 'master' }}") repeat fixed 100%;
    }
    .titles {
        position: absolute;
        top: 50%;
        left: 50;
        transform: translate(-50%, -50%);
        .main-title {
            color: #fff
        }
        .sub-title {
            color: #fff
        }
    }
}