.line-item {
    border: 1px solid black;
    display: flex;
    height: 200px;
    &__left {
        display: flex;
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}