.line-item {
    border: 1px solid black;
    display: flex;
    height: 100px;
    &__left {
        display: flex;
    }
    &__image {
        height: 100px;
        width: 100px;
        object-fit: fill;
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
    }
    &__price {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
    }
    &__quantity-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.4rem;
    }
}