.product-title {
    display: block;
    margin-bottom: 25px;
    @include mq($screen-lg) {
        margin-bottom: 0px
    }
    .product-title__image {
        max-width: 100%;
        display: block;
        margin-bottom: 10px;
    }
    .product-title__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .product-title__title {
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 5px;
    }
    .product-title__price {
        font-size: 16px;
    }
}