.cart {
    &__title {
        text-align: center;
        font-family: font-family: Arial, Helvetica, sans-serif;
        font-size: 3rem;
    }
    &__items {}
    &__block {}
    &__details {}
    &__total-text {}
    &__total-price {}
    &__update {}
    &__checkout {}
}