<div class="collection">
    <div class="collection__image-wrapper">\
        <img src="" alt="" class="collection__image">
    </div>
    <div class="collection__wrapper">
        <header class="collection__header">
            <h1 class="collection__heading"></h1>
            <p class="collection__description"></p>
        </header>
        <div class="colleciton__grid">

        </div>
        <div class="collection__pagination">

        </div>
    </div>
</div>