<section class="featured-products">
    <h2 class="featured-products__heading">
    Featured Products
    </h2>

    <div class="featured-products__items">
        {% for product in collections[section.settings.collection].products %}
            <p>{{ product.title }}</p>
        {% endfor %}    
    </div>
</section>





{% schema %}
{
    "name": "Featured Products",
    "settings":[
    {
        "type": "collection",
        "id": "collection",
        "label": "Collections"
    }
    ], 
    "presets": [
        {
            "name": "Featured Products",
            "category": "Products Display"
        }
    ]
}
{% endschema %}