<section class="featured-products">
    <div class="featured-products__title">{{ settings.fproduct.title }}</div>
    <img src="{{ settings.fproduct.featured_image | img_url: 'master' }}" alt="{{settings.fproduct.featured_image.alt }}">
    <div class="featured-products__description">{{ settings.fproduct.description }}</div>
</section>