<footer>
    <div class="head">

    </div>
    <form class="email">
        <div class="email-head">Enter your email here*</div>
        <input type="email" name="enter-your email here*" id="input_comp-jutgpd7y" class="_3rh7f has-custom-focus" value="" placeholder="Email" required="" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="250" tabindex="0"> <input type="submit" value="Submit">
        <div class="social">
            <div class="follow">Follow us:</div>
            <a href=""><img src="../../images/tw.png" alt=""></a>
            <a href=""><img src="../../images/fb.png" alt=""></a>
            <a href=""><img src="../../images/ig.png" alt=""></a>
        </div>
        <div class="copyright">©2021 by <a href="" target="_blank">Colibrita</a></div>
    </form>
</footer>