{% comment %} requires the following arguments: -settings {% endcomment %}


<nav>
    <div id="links">
        <a class="link" href="">home</a>
        <a class="link" href="">menu</a>
        <a class="link" href="">about</a>
        <a class="link" href="">contact</a>
    </div>
    <div class="logo">
        <div class="store-logo">Catapano Pasta Co </div>
        <div class="city-logo">Nashville</div>
    </div>
</nav>