{% comment %} requires the following arguments: -settings {% endcomment %}


<nav>
    <div class="links">
        <a class="link" href="">HOME</a>
        <a class="link menu" href="">MENU <a href="" class="link cook-at-home">COOK AT HOME</a>
        <a class="link about" href="https://www.w3schools.com/howto/howto_css_dropdown.asp">ABOUT <a class="link news" href="https://www.youtube.com/watch?v=6ZyGH78advQ">NEWS</a></a>
        <a class="link" href="">CONTACT</a>
    </div>
    <div class="logos">
        <div class="store-logo">Catapano Pasta Co </div>
        <div class="city-logo">Nashville</div>
    </div>
</nav>