{% comment %} requires the following arguments: -settings {% endcomment %}


<nav>
    <div class="links">
        <a class="link" href="">HOME</a>
        <a class="link menu drop" href="">MENU <a href="" class="link cook-at-home dropdown">COOK AT HOME</a>
        <a class="link about drop" href="">ABOUT <a class="link news dropdown" href="">NEWS</a></a>
        <a class="link" href="">CONTACT</a>
    </div>
    <div class="logos">
        <div class="store-logo">Catapano Pasta Co </div>
        <div class="city-logo">Nashville</div>
    </div>
</nav>