{% comment %} requires the following arguments: -settings {% endcomment %}


<nav>
    <div class="links">
        <a class="link" href="https://www.catapanopasta.com">HOME</a>
        <div class="drop">
            <a class="link menu" href="https://www.catapanopasta.com/menu">MENU</a>
            <div class="dropdown">
                <a class="link cook-at-home" href="https://www.catapanopasta.com/cook-at-home">COOK AT HOME</a>
            </div>
        </div>
        <div class="drop">
            <a class="link about" href="https://www.catapanopasta.com/about">ABOUT</a>
            <div class="dropdown">
                <a class="link news" href="https://www.catapanopasta.com/news">NEWS</a>
            </div>
        </div>
        <a class="link" href="https://www.catapanopasta.com/contact">CONTACT</a>
    </div>
    <div class="logos">
        <div class="store-logo">Catapano Pasta Co </div>
        <div class="city-logo">Nashville</div>
    </div>
</nav>
<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div>