{% comment %} requires the following arguments: -settings {% endcomment %}


<nav>
    <div class="links">
        <a class="link" href="">HOME</a>
        <div class="drop">
            <a class="link menu" href="">MENU</a>
            <a href="" class="link cook-at-home dropdown">COOK AT HOME</a>
        </div>
        <div class="drop">
            <a class="link about" href="">ABOUT</a>
            <a class="link news dropdown" href="">NEWS</a>
        </div>
        <a class="link" href="">CONTACT</a>
        <div class="logos">
            <div class="store-logo">Catapano Pasta Co </div>
            <div class="city-logo">Nashville</div>
        </div>
</nav>