<section>
    <div class="background">
        <div class="titles">
            <div class="main-title">{{ settings.header }}</div>
            <div class="sub-title">{{ settings.sub_header }}</div>
        </div>
    </div>
</section>