<style>
    .background {
        /* height: 100vh; */
        background-image: url({{ settingss.background | img_url: 'master' }});
        width: 10px;
    }
</style>
<section>
    <div class="background">
        <!-- <div class="main-title">{{ settings.header }}</div>
        <div class="sub-title">{{ settings.sub_header }}</div> -->
    </div>
</section>