<style>
    .background {
        background: url({{ settings.background | img_url: 'master' }}) repeat fixed 100%;
    }
</style>
<section>
    <div class="title background">
        <div class="main-title">{{ settings.header }}</div>
        <div class="sub-title">{{ settings.sub_header }}</div>
    </div>
</section>