<section>
    <div><img src="{{ settings.background | img_url: 'full-image' }}" alt=""></div>
    <div class="title">
        <div class="main-title">{{ settings.header }}</div>
        <div class="sub-title">{{ settings.sub_header }}</div>
    </div>
</section>