<div class="product-title">
    <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.featured_image.alt }}" />
    <div class="product-title__info">
        <h3 class="product-title__title">{{ product.title }}</h3>
    </div>
</div>